.side_bar
  .side_header
    .box
      .username 太郎
      .setting
        .edit
        = link_to "#" do
          = icon('fas', 'edit')
        .cong
        = link_to "#" do
          = icon('fas', 'cog')
  .groups
    .group
      .name サンプルグループ
      .message こんばんは！
    .group
      .name サンプルグループ
      .message こんばんは
    .group
      .name サンプルグループ
      .message こんばんは
    .group
      .name サンプルグループ
      .message こんばんは